.errorPage-title {
    font-size: 38px;
    font-family: var(--sansFont);
    padding: 0;
    margin-top: 43px;
}

.errorPage-code {
    font-size: 48.5vw;
    font-family: var(--sansFont);
    line-height: 1;
    margin: 0;
    padding: 0;
}

.errorPage-description {
    font-family: var(--serifFont);
    font-size: var(--normalTextSize);
    line-height: calc(var(--normalLineHeight) + 1px);
}

.errorPage-description a {
    background-image: linear-gradient(180deg, var(--textColor) 0, var(--textColor));
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 86%;
    text-shadow: 1px 1px 0 var(--backgroundColor), 1px -1px 0 var(--backgroundColor), -1px 1px 0 var(--backgroundColor), -1px -1px 0 var(--backgroundColor);
}

@media ( max-width: 780px ) {

    .errorPage {
        padding: 0 var(--contentPadding);
    }

    .errorPage-title {
        font-size: 27px;
        margin-top: 36px;
    }
}