{% set title = "Логотип «Семи морей»" %}
{% set project = "Семь Морей" %}
{% set product = "Логотип" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>«Семь морей» — туристическая компания, которая хотела получить яркий и современный образ.</p>
    <p>Акцентным элементом является водяной узор, поэтому логотип может выглядеть совсем по разному, не теряя узнаваемость.</p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: '1.png',
        alt: 'Логотип',
    } %}
{% endblock %}