{% set title = "Третий сайт «Цифры»" %}
{% set project = "Цифра" %}
{% set product = "Сайт 3.0" %}
{% extends "../project.twig" %}

{% block projectHero %}
    <p>Цифра — лучший магазин электроники в Воркуте.</p>
    <p>В соотвествии с разработанной айдентикой был полностью переработан сайт. Сайт следует всем лучшим трендам современности: он адаптивный, быстрый и лёгкий в использовании.</p>
    <p>Раньше описания товаров были оформленны в разных стилях, теперь же есть шаблон, по которому администраторы сайта верстают описания.</p>
    <p>Помимо товаров в наличии, на Цифре есть раздел «под заказ». Там можно заказать товары от поставщика. Для этого раздела разработал высокопроизводительнольное приложение на Go, которое автоматически переносит базу поставщика на сайт, преобразуя цены.</p>
    <p><i><a href="https://cifra.in/">Перейти на сайт</a></i></p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
            src: '1.png',
            alt: 'страница товара',
    } %}
    {% include '../blocks/picture.twig' with {
            src: '2.png',
            alt: 'страница поиска',
    } %}
    {% include '../blocks/picture.twig' with {
            src: '3.png',
            alt: 'корзина',
    } %}
    {% include '../blocks/picture.twig' with {
            src: 'mobile.png',
            alt: 'сайт на телефоне',
            width: 700,
    } %}
{% endblock %}