{% set title = "Айдентика «Цифры»" %}
{% set project = "Цифра" %}
{% set product = "Айдентика" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Цифра — лучший магазин электроники в Воркуте.</p>
    <p>Магазин в существующем виде работает с 2011 года. Логотип достался по наследству от предыдущего владельца. Не было никакого фирменного стиля, оформление зависило исключительно от настроения владельца. Так продолжаться не могло.</p>
    <p>Я сделал новый логотип, который выглядит современно. Логотип получился очень удобным, так как он умеет склоняться по правилам русского языка.</p>
    <p>К логотипу разработал стандарты оформления всего, что связанно с магазином: каким шрифтом писать текст, как оформлять счета и прочую печатную продукцию. Все правила сверстанны в брендбук.</p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
            src: 'logo-transform.png',
            alt: 'логотип цифры',
    } %}
    {% include '../blocks/picture.twig' with {
            src: 'brand.png',
            alt: 'айдентика свёрстанная в виде журнала',
    } %}
    {% include '../blocks/picture.twig' with {
            'src': 'card.jpg',
            'alt': 'визитка',
    } %}
{% endblock %}