{% set title = "Сайт «СМТ»" %}
{% set project = "СМТ" %}
{% set product = "Сайт" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Проект изначально возник как авторский видеоблог Бориса Цацулина о питании, здоровье и фитнесе. Изначальное название -  Cavemanʼs Tech -  «технологии пещерного человека», постепенно сократилось до «СМТ». Предыдущий сайт работал под управлением Вордпресса который перегрузили ненужными деталями.</p>
    <p>Переосмыслили разделы сайта: «форум» заменили на «ответы». На вопросы отвечают как посетители сайта, так и администрация ресурса. Ответы администрации стоят выше комментариев.</p>
    <p>На сайте нет регистрации с помощью электронной почты, так как аудитория приходит из сети ВКонтакте и Ютюба. Поэтому авторизоваться можно в два клика с помощью аккаунта ВК или Гугл.</p>
    <p>Доступ к редполитике предоставляется всем работающим в СМТ.</p>
    <p><i><s><a href="https://cmtscience.ru/">Перейти на сайт</a></s></i></p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'main.png',
        alt: 'главная страница',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'shop.png',
        alt: 'страница магазина',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'shop.png',
        alt: 'страница магазина',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'answer.png',
        alt: 'страница ответов',
    } %}
{% endblock %}