{% set title = "Редполитика «СМТ»" %}
{% set project = "СМТ" %}
{% set product = "Редполитика" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Для поддержания качества статей, составил и оформил редакционную политику СМТ.</p>
    <p>Редполитика затрагивает правила написания и офорлмения статей, правила текста в интерфейсе и рекомендации по общению с пользователями.</p>
    <p>Правила дополняются примерами для простоты понимания.</p>
    <p>Доступ к редполитике предоставляется всем работающим в СМТ.</p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'main.png',
        alt: 'скриншоты сайта стандартов',
        full: true
    } %}
{% endblock %}