{% set title = "Вход в Пантеон" %}
{% set project = "Концепт" %}
{% set product = "Вход в Пантеон" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Первое что видит пользователь Элементари ОС — вход в Пантеон. Нынешний вариант не так хорош, как может быть.</p>
    <p>Я разработал концепт того, как это может выглядеть.</p>
    <p>Большое внимание уделено анимаци­ям. Каждая анимация имеет смысл, ничего не раздра­жает.</p>
    <p>Концепт может исполь­зовать любой, буду рад, если кто–то это реали­зует. По запро­су могу выслать исходни­ки.</p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/video.twig' with {
        file: 'demo',
        alt: 'видео–демонстрация',
    } %}
{% endblock %}