{% set title = "Айдентика «Фарватера»" %}
{% set project = "Фарватер" %}
{% set product = "Айдентика" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Фарватер — питерский производитель жидкостей для ЭСДН. Для бренда была выбрана корабельная тематика.</p>
    <p>Логотип выполнен текстовым начертанием в стиле троянской колонны с эффектом высокой печати.</p>
    <p>На каждой бутылке изображено животное, обитающеее в соответствующей вкусу части света.</p>
    <p>В центре этикетки — фотография сургучной печати. В дальнейшем планируется издание с настоящей печатью на коробке.</p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'logo.png',
        alt: 'логотип',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'photo.jpg',
        alt: 'бутылочка',
    } %}
    <div class="project-text">
        <i><p>Выражаю большую благодарность Мариам Иобидзе, которая выступила иллюстратором.</p></i>
    </div>
{% endblock %}