{% set title = "Сайт «Латоны»" %}
{% set project = "Латона" %}
{% set product = "Сайт" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Латона — компания, которая производит, продаёт и — устанавливает двери.</p>
    <p>Сайт Латоны помогает клиентам быстро находить интересующую продукцию и информацию о компании.</p>
    <p>Страницы рассказывают о тонкостях процесса производства, хранения и доставки дверей, а также о сильных сторонах компании.</p>
    <p><i><a href="https://latona.pro/">Перейти на сайт</a></i></p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'main.png',
        alt: 'главная страница сайта',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'info.png',
        alt: 'страница о компании',
        full: true
    } %}
    <div class="project-text">
        <p>Так как названия дверей бывают весьма странными, то классический поиск по названию здесь не подошёл. Поэтому используется параметрический поиск: чтобы найти нужный товар, надо обозначить к каким категориям он принадлежит.</p>
    </div>
    {% include '../blocks/picture.twig' with {
        src: 'search.png',
        alt: 'страница поиска',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'search-result.png',
        alt: 'страница с результатами поиска',
    } %}
    <div class="project-text">
        <i><p>Выражаю большую благодарность Михаилу Минаеву, который выступил ассистентом.</p></i>
    </div>
{% endblock %}