{% set title = "Элементы «Латоны»" %}
{% set project = "Латона" %}
{% set product = "Айдентика" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Латона — компания, которая производит, продаёт и устанавливает двери.</p>
    <p>Я разработал логотип, счета, визитки и два руководства: по айдентике и по презентациям.</p>
    <p>В строгом логотипе легко узнаётся дверь. Сам логотип умеет сокращаться до двух букв, превращаясь в иконку.</p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'logo.png',
        alt: 'логотип',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'bussines-card.png',
        alt: 'визитка',
    } %}
    <div class="project-text">
        <p>Правила использования фирменных элементов, цветов и шрифтов подробно изложены в руководстве.</p>
    </div>
    {% include '../blocks/picture.twig' with {
        src: 'manual-card.png',
        alt: 'руководство по айдентике',
        full: true
    } %}
    <div class="project-text">
        <p>Стандарты оформления презентаций сверстал в презентацию из 19 слайдов. Эти стандарты способны улучшить любую презентацию, поэтому считаю долгом ими поделиться.</p>
    </div>
    <div tabindex="0" aria-label="слайдшоу" class="project-slideshow">
        <div tabindex="-1" class="fotorama" data-nav="thumbs" data-transition="dissolve">
            <img src="presentation/001.jpg"> 
            <img src="presentation/002.jpg"> 
            <img src="presentation/003.jpg"> 
            <img src="presentation/004.jpg"> 
            <img src="presentation/005.jpg"> 
            <img src="presentation/006.jpg"> 
            <img src="presentation/007.jpg"> 
            <img src="presentation/008.jpg"> 
            <img src="presentation/009.jpg"> 
            <img src="presentation/010.jpg"> 
            <img src="presentation/011.jpg"> 
            <img src="presentation/012.jpg"> 
            <img src="presentation/013.jpg"> 
            <img src="presentation/014.jpg"> 
            <img src="presentation/015.jpg"> 
            <img src="presentation/016.jpg"> 
            <img src="presentation/017.jpg"> 
            <img src="presentation/018.jpg"> 
            <img src="presentation/019.jpg"> 
        </div>
    </div>
    <div class="project-text">
        <i><p>Выражаю большую благодарность Мариам Иобидзе, которая выступила верстальщиком.</p></i>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
{% endblock %}