{% set title = "Линейная схема метро Санкт–Петербурга" %}
{% set project = "Схема Метро" %}
{% set product = "Линейная схема Санкт–Петербурга" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Линей­ная схема не годит­ся для исполь­зования пасса­жирами, это скорее дизай­нерское упражне­ние. В случае с метро Петер­бурга, схема вполне примени­ма.</p>
    <p>В схеме линии метро парал­лельны друг другу, поэто­му найти путь легко. Минус таких схем в том, что они не позво­ляют понять терри­ториаль­ное распо­ложение станций.</p>
    <p>
        <i><a href="spb-metro-rectilinear.pdf">Скачать ПДФ</a>, версия от 15.01.17.</i>
    </p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'rectlinear.png',
        alt: 'схема',
    } %}
{% endblock %}