{% set title = "Сайт «Неокемикалс»" %}
{% set project = "Неокемикалс" %}
{% set product = "Сайт" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>«Не­оке­микалс» по­став­ля­ет хи­ми­че­ские ре­ак­ти­вы по СНГ и име­ет соб­ствен­ный склад, что по­мо­га­ет обес­пе­чить низ­кие це­ны.</p>
    <p>О каждом реак­тиве есть краткая сводка, у некото­рых есть схема химичес­ких связей.</p>
    <p>На сайте нет отдель­ной страницы с корзи­ной, вместо этого есть список, который всегда находит­ся рядом.</p>
    <p>Сайт работа­ет на Изнанке, поддер­жкой и изме­нениями занима­ется коман­да клиен­та. Разработано в соответствии с принципом СнОБП.</p>
    <p><i><a href="http://neochemicals.ru/">Перейти на сайт</a></i></p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'screen.png',
        alt: 'скриншот страницы каталога',
    } %}
{% endblock %}