{% set title = "Айдентика «Поребрика»" %}
{% set project = "Поребрик" %}
{% set product = "Айдентика" %}
{% extends "../project.twig" %}


{% block projectHero %}
    <p>Разработал название и айдентику для компании, которая производит, доставляет и кладёт тротуарную плитку в Санкт–Петербурге и Лениградской области.</p>
    <p>Название ярко отражает область и местность деятельности компании. На логотипе рядом с текстовой частью располагается стрелочка из плиток. Айдентика призвана поддеражть стиль фирменным шрифтом, цветами и паттернами.</p>
    <p><i>Выражаю большую благодарность руководству компании «Поребрик» и Сергею Лисовцу в частности.</i></p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        src: 'logo-white.png',
        alt: 'логотип',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'guide.png',
        alt: 'руководство по айдентике',
    } %}
    {% include '../blocks/picture.twig' with {
        src: 'cards.png',
        alt: 'визитки',
        full: true
    } %}
{% endblock %}