{% set title = "Логотип «Туртла»" %}
{% set project = "Туртл" %}
{% set product = "Логотип" %}
{% extends "../project.twig" %}

{% block projectHero %}
    <p>Туртл — туристическая компания, которая организует поездки по всему миру. В этой сфере важно иметь запоминающийся образ.</p>
    <p>Я разработал логотип, который решает поставленную задачу. Основа логотипа — игривые буквы и сердечко, а не цвет, поэтому логотип может меняться под окружение.</p>
{% endblock %}

{% block projectContent %}
    {% include '../blocks/picture.twig' with {
        'src': 'wristband.png',
        'alt': 'Браслет с логотипом',
        'width': 410
    } %}
    {% include '../blocks/picture.twig' with {
        'src': 'cap.jpg',
        'alt': 'Кепка с логотипом',
    } %}
{% endblock %}