.header-title {
    color: var(--textColor);
    display: block;
    font-family: var(--sansFont);
    font-weight: bold;
    font-size: var(--normalTextSize);
    line-height: 19px;
}

@media ( max-width: 780px ) {

    .header {
        padding: 0 var(--contentPadding);
    }
}
