.hero {
    margin-top: 44px;
    margin-left: -0.5vw;
}

.hero-text {
    font-family: var(--sansFont);
    line-height: 5.83vw;
    font-weight: bold;
    font-size: 6vw;
}

@media ( max-width: 1030px ) {

    .hero {
        margin-top: 5vw;
    }

    .hero-text {
        line-height: 1.2;
        font-size: 7vw;
    }
}
@media ( max-width: 500px ) {

    .hero-text {
        font-size: 8.5vw;
    }
}

@media ( max-width: 780px ) {

    .hero {
        padding: 0 var(--contentPadding);
    }
}