body {
    --contentPadding: 9vw;
    --backgroundColor: black;
    --hightlightColor: rgb(34,34,34);
    --textColor: white;
    --sansFont: Circe, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --serifFont: IowanOldStyle, Georgia, Times, 'Times New Roman', serif;
    --normalTextSize: 18px;
    --normalLineHeight: 27px;
    --gridGap: 27px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

a {
    color: var(--textColor);
    transition: color 0.35s ease-out, background-image 0.35s ease-out;
    text-decoration: none;
}

a:hover {
    color: rgb(138,139,144);
    transition: color 0s;
}

*::selection {
    background: var(--textColor);
    color: var(--backgroundColor);
    text-shadow: none;
}

.content {
    padding: 0 var(--contentPadding);
    margin: 76px auto 0;
}



@media ( max-width: 780px ) {

    .content {
        margin: 30px 0 0;
        padding: 0 0;
    }

    body {
        --contentPadding: 5vw;
    }
}

@media ( max-width: 640px ) {

    .hero {
        margin-top: 8vw;
    }
}