.footer {
    margin-top: 71px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
}

.footer-link,
.footer-copyright {
    margin-left: 16px;
    font-family: var(--sansFont);
    font-weight: bold;
    font-size: var(--normalTextSize);
    line-height: var(--normalLineHeight);
}

.footer-link {
    padding: 7px 0;
}

.footer-copyright {
    margin: 0;
    font-size: calc(var(--normalTextSize) - 1px);
}

.footer-dash {
    margin: 0 3px;
}

.footer-c {
    position: relative;
    top: -2px;
}

@media ( max-width: 780px ) {

    .footer {
        flex-direction: row-reverse;
        padding: var(--contentPadding);
    }

    .footer-copyright {
        align-self: flex-end;
        font-size: calc(var(--normalTextSize) + 4px);
        margin: 0 0 5px;
    }

    .footer-link {
        display: flex;
        margin-left: 0;
        flex-direction: column;
        font-size: calc(var(--normalTextSize) + 10px);
    }
}

@media ( max-width: 640px ) {

    .footer {
        margin-top: 53px;
        flex-direction: column-reverse;
    }

    .footer-copyright {
        align-self: flex-start;
        font-size: calc(var(--normalTextSize) + 5px);
        margin: 7px 0 0 0;
    }

    .footer-link {
        padding: 4px 0 5px;
    }

    .footer-c {
        display: none;
    }
}