<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title | default("Миша") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description | default("Личный сайт дизайнера и программиста Миши Миртова") }}"> 
    <link rel="stylesheet" type="text/css" href="/{{ 'styles.css' | anticache }}" />
    <link rel="preload" href="/fonts/misha-sans.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png?v=yyLwl9d8Lb">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png?v=yyLwl9d8Lb">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png?v=yyLwl9d8Lb">
    <link rel="manifest" href="/site.webmanifest?v=yyLwl9d8Lb">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg?v=yyLwl9d8Lb" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico?v=yyLwl9d8Lb">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/browserconfig.xml?v=yyLwl9d8Lb">
    <meta name="theme-color" content="#000000">
</head>
<body>
    <div role="main" class="content">
        {% include '../blocks/header.twig' %}
        {% block body %}
        {% endblock %}
        {% include '../blocks/footer.twig' %}
        {% include '../blocks/grid.twig' %}
    </div>
    <script src="/{{ 'app.js' | anticache }}" async></script>
</body>
</html>