.project {
    margin-top: 72px;
}

.project-hero {
    max-width: 100%;
    opacity: 0;
}

.project-header {
    margin-top: 54px;
}

.project-heading {
    font-family: var(--sansFont);
    font-weight: bold;
    width: fit-content;
    font-feature-settings: 'swsh';
    font-size: 71px;
    line-height: 1;
    margin: 0 0 0 -14px;
}

.project-headingContainer {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: var(--gridGap);
}

.project-grouplingsContent {
    font-family: var(--sansFont);
    font-weight: bold;
    font-size: var(--normalTextSize);
    line-height: var(--normalLineHeight);
    margin: 2px 0 0;
}

.project-grouplingsContent.is__link {
    background-image: linear-gradient(180deg,white 0,white);
    background-repeat: repeat-x;
    text-shadow: 1px 1px 0 var(--backgroundColor),1px -1px 0 var(--backgroundColor),-1px 1px 0 var(--backgroundColor),-1px -1px 0 var(--backgroundColor);
    background-size: 1px 1px;
    padding: 7px 0;
    background-position: 0 26px;
}

.project-picture,
.project-video,
.project-gif {
    padding: 100px 115px;
    background-color: var(--hightlightColor);
    margin-top: 63px;
    opacity: 0;
}

.project-video {
    opacity: 1;
}

.project-slideshow {
    margin-top: 56px;
    padding: 100px 115px;
    background-color: var(--hightlightColor);
}

.project-picture.__full {
    padding: 0 0;
}

.project-picture img {
    margin: 0 auto;
    width: 100%;
    display: block;
}

.project-grouplingsItem:first-child {
    margin: 0;
}

.project-grouplings {
    margin-top: -4px;
    display: flex;
    flex-direction: column;
}

.project-text {
    max-width: 50%;
    padding-left: 13.5px;
    margin: 62px 0 0 auto;
    box-sizing: border-box;
}

.project-text.__header {
    margin: -4px 0 0 auto;
    max-width: 100%;
    padding: 0;
}

.project-video video {
    width: 100%;
}

.project-text p {
    font-family: var(--serifFont);
    margin: 8px 0 0;
    font-size: var(--normalTextSize);
    line-height: calc(var(--normalLineHeight) + 1px);
}

.project-text a {
    background-image: linear-gradient(180deg, var(--textColor) 0, var(--textColor));
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 86%;
    text-shadow: 1px 1px 0 var(--backgroundColor), 1px -1px 0 var(--backgroundColor), -1px 1px 0 var(--backgroundColor), -1px -1px 0 var(--backgroundColor);
}

.project-text p:first-child {
    margin: 0;
}

@media ( max-width: 1400px ) {

    .project-headingContainer {
        display: block;
    }

    .project-heading {
        font-size: 54px;
        margin: 0 0 0 -9px;
    }

    .project-text {
        width: 65%;
        max-width: unset;
        padding-left: 0;
    }

    .project-header {
        margin-top: 61px;
    }

    .project-grouplings {
        flex-direction: row;
        margin-top: -1px;
        margin-bottom: 13px;
    }

    .project-grouplingsItem,
    .project-grouplingsItem:first-child {
        margin-right: 18px;
    }

    .project-picture,
    .project-video,
    .project-gif {
        padding: 27px;
        margin-top: 34px;
    }

    .project-slideshow {
        padding: 0;
    }
}

@media ( max-width: 780px ) {

    .project {
        margin-top: 32px;
    }

    .project-text {
        width: 100% - var(--contentPadding);
        padding: 0 var(--contentPadding);
        margin: 28px 0 0 0;
    }

    .project-text.__header {
        padding: 0 var(--contentPadding);
    }

    .project-header {
        margin-top: 19px;
    }

    .project-heading,
    .project-grouplings {
        padding: 0 var(--contentPadding);
    }

    .project-picture,
    .project-video,
    .project-gif,
    .project-slideshow {
        padding: var(--contentPadding);
        margin-top: 28px;
    }

    .project-heading {
        font-size: 36px;
        margin: 0 0 0 -1px;
    }
}