<div role="contentinfo" class="footer">
    <div class="footer-copyright">
        <span class="footer-c">©</span> 2016<span aria-hidden="true" tabindex="-1" class="footer-dash">—</span>2018.
    </div>
    <div class="footer-links">
            <a class="footer-link" href="mailto:misha@myrt.co">Почта.</a>
            <a class="footer-link" href="https://t.me/mishamyrt">Телеграм.</a>
            <a class="footer-link" href="https://www.instagram.com/mishamyrt/">Инстаграм.</a>
            <a class="footer-link" href="https://vk.com/mishamyrt">Вконтакте.</a>
    </div>
</div>