  <div class="debugGrid">
    <div class="debugGrid-cols">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="debugGrid-controll">
        <div class="debugGrid-plus"></div>
        <div class="debugGrid-minus"></div>
    </div>
</div>