 <div role="banner" class="header">
    {% if home != true %}<a href="/" aria-label="На главную">{% endif %}
    <p class="header-title">
        <span>Михаил Миртов</span>.<br>
        <span>Фронтендер в БелВГ</span>.
    </p>
    {% if home != true %}</a>{% endif %}
</div>
