<div data-hold="200" data-spin-color="#fff" data-spin="true" data-effect="slide" class="project-picture honey {% if full %}__full{% endif %}">
    <img alt="{{ alt }}"
         src="{{ src }}"
         {% if width %}
         style="max-width:{{ width }}px"
         {% endif %}/>
</div>