<a href="/projects/{{ hurl }}/">
    <div class="projectsSlides-item" data-src="/projects/{{ hurl }}/slide.jpg">
        <div class="projectsSlides-image"
        {% if padding %}
             style="padding-bottom: {{ padding }}"
        {% endif %}></div>
        <div class="projectsSlides-placeholder"></div> 
        <span class="projectsSlides-title{% if black == true %} __black{% endif %}">
            {{ name }}
        </span>
    </div>
</a>