<div class="project-video">
    <video aria-label="{{ alt }}" autoplay loop>
        <source src="{{ file }}.webm" type="video/webm">
        <source src="{{ file }}.mp4" type="video/mp4">
    </video>
</div>