.projectsSlides {
    position: relative;
    margin-top: 62px;
    --gridGap: 27px;
}

.projectSlides-header {
    position: absolute;
    font-family: var(--sansFont);
    font-weight: bold;
    font-size: var(--normalTextSize);
    line-height: var(--normalLineHeight);
    top: -2px;
    left: calc((var(--gridGap) + 13px) * -1);
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
}

.projectsSlides-grid {
    margin-top: var(--gridGap);
    display: grid;
    grid-gap: var(--gridGap);
}

.projectsSlides-grid.__seven-five {
    grid-template-columns: 7fr 5fr;
}

.projectsSlides-grid.__five-seven {
    grid-template-columns: 5fr 7fr;
}

.projectsSlides-grid.__6-6 {
    grid-template-columns: 6fr 6fr;
}

.projectsSlides-item {
    transform-style: preserve-3d;
    position: relative;
    background-color: var(--hightlightColor);
}

.projectsSlides-image {
    background-position: 50%, 50%;
    background-size: cover;
    width: 100%;
    opacity: 0;
    padding-bottom: 100%;
    transition: opacity 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.projectsSlides-title {
    position: absolute;
    opacity: 0;
    bottom: 35px;
    line-height: 1;
    left: 39px;
    color: white;
    font-family: var(--sansFont);
    transform: translateZ(25px);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: 3.7vw;
    font-weight: bold;
    transition: opacity 0.4s ease-out, transform 0.5s ease-out;
}

.projectsSlides-item.__hover .projectsSlides-title {
    transition: opacity 0.4s ease-out, transform 0.45s ease-out;
    opacity: 1;
    transform: translateZ(50px);
}

.projectsSlides-title.__black {
    color: var(--backgroundColor);
}

.projectsSlides-placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-position: 50%;
    opacity: 0;
    left: 0;
    background-size: cover;
    transition: opacity 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media ( max-width: 780px ) {

    .projectSlides-header  {
        display: none;
    }

    .projectsSlides {
        margin-top: 8vw;
        padding: 0 var(--contentPadding);
    }

    .projectsSlides-grid {
        margin-top: 10px;
        grid-gap: 10px;
    }
}

@media ( max-width: 640px ) {

    .projectsSlides {
        margin-top: 10vw;
    }

    .projectsSlides-title {
        opacity: 1;
        left: 17px;
        bottom: 13px;
        font-size: 4vw;
    }
}
@media ( max-width: 500px ) {

    .projectsSlides {
        width: calc(100% - 10px);
        padding: 0 5px 0 5px;
    }

    .projectsSlides-grid {
        margin-top: 0;
        display: block;
    }

    .projectsSlides-image {
        padding-bottom: 100%;
    }

    .projectsSlides-item {
        margin-top: 5px;
    }

    .projectsSlides-title {
        left: 21px;
        bottom: 18px;
        line-height: 1;
        font-size: 7vw;
    }
}