{% extends "core/layout.twig"  %}

{% set title = "Тут Миши нет" %}

{% set home = false %}

{% block body %}
    <div class="errorPage">
        <h1 class="errorPage-title">Страница не найдена</h1>
        <p class="errorPage-code">404</p>
        <p class="errorPage-description">Вы можете перейти на <a href="/">главную страницу</a> и&nbsp;почитать что-нибудь другое.</p>
    </div>
{% endblock %}
