{% extends "core/layout.twig" %}
{% set title = "Миша" %}
{% set home = true %}
{% block body %}
 <div class="hero">
    <span class="hero-text">
        Создаю разные&nbsp;штуки, которые&nbsp;решают проблемы&nbsp;клиентов.
    </span>
</div>
<div class="projectsSlides" aria-label="Проекты">
    <span class="projectSlides-header">Проекты.</span>
    <div class="projectsSlides-grid __five-seven">
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'porebrik-identity',
            'name': 'Поребрик'
        } %}
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'cifra-site3',
            'name': 'Цифра'} 
        %}
    </div>
    <div class="projectsSlides-grid __seven-five">
               {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': '7seas-logo',
            'name': 'Семь морей',
            'black': true
        } %}
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'latona-identity',
            'name': 'Латона',
        } %}
    </div>
    <div class="projectsSlides-grid __five-seven">
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'farvater-identity',
            'name': 'Фарватер',
            'black': true
        } %}
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'tourtle-logo',
            'name': 'Туртл',
        } %}
    </div>
    <div class="projectsSlides-grid __6-6">
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'neochemicals-site',
            'name': 'Неокемикалс',
            'black': true
        } %}
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'metro-rectlinear',
            'name': 'Схема метро СПб',
            'black': true,
        } %}
    </div>
    <div class="projectsSlides-grid __seven-five">
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'cmt-editorialstandarts',
            'name': 'СМТ',
        } %}
        {% include 'blocks/projectsSlides-item.twig' with {
            'hurl': 'concept-pantheon',
            'name': 'Вход в Пантеон'} %}
    </div>
</div>
{% endblock %}