{% extends "core/layout.twig" %}

{% set home = false %}

{% block body %}
<article class="project"
         project="{{ project }}"
         product="{{ product }}">
    <img data-spin="true" data-spin-color="#fff" data-hold="500" class="project-hero honey" aria-label="{{ title }}" data-effect="slide" data-up="60" src="slide.jpg"></img>
    <div class="project-header">
        <h1 class="project-heading">{{ projectTitle }}</h1>
        <div class="project-headingContainer">
            <div class="project-grouplings" aria-role="menubar">
            {% for groupling in grouplings %}
                <div class="project-grouplingsItem">
                {% if groupling.link != '' %}
                    <a aria-role="menuitem" class="project-grouplingsContent is__link" href="/projects/{{ groupling.link }}/">{{ groupling.title }}</a>
                {% else %}
                     <span class="project-grouplingsContent">{{ groupling.title }}</span>.
                {% endif %}
                </div>
            {% endfor %}
            </div>
             <div class="project-text __header">
                {% block projectHero %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="project-content">
        {% block projectContent %}
        {% endblock %}
    </div>
</article>
{% endblock %}