@font-face {
    font-family: Circe;
    src: url(/fonts/misha-sans.woff2) format('woff2'),
        url(/fonts/misha-sans.woff) format('woff');
    font-weight: bold;
    font-display: fallback;
}

@font-face {
    font-family: IowanOldStyle;
    src: url(/fonts/misha-serif.woff2) format('woff2'),
        url(/fonts/misha-serif.woff) format('woff');
    font-display: fallback;
}

@font-face {
    font-family: IowanOldStyle;
    src: url(/fonts/misha-serif_italic.woff2) format('woff2'),
        url(/fonts/misha-serif_italic.woff) format('woff');
    font-style: italic;
    font-display: fallback;
}
